<div class="todoList" id="loginPanel">
    <section id="localLoginPanel">
        <form id="loginForm">
            <fieldset>
                <legend>Log in Form</legend>
                <ul class="validation-summary-errors" data-bind="foreach: errors">
                    <li data-bind="text: $data"></li>
                </ul>
                <ol>
                    <li>
                        <label for="UserName">User name</label>
                        <input type="text" name="UserName" data-bind="value: userName, hasfocus: true" />
                        <span data-bind="visible: userName.hasError, text: userName.errorMessage"></span>
                    </li>
                    <li>
                        <label for="Password">Password</label>
                        <input type="password" name="Password" data-bind="value: password" />
                        <span data-bind="visible: password.hasError, text: password.errorMessage"></span>
                    </li>
                    <li>
                        <input type="checkbox" name="RememberMe" data-bind="checked: rememberMe" />
                        <label class="checkbox" for="RememberMe">Remember me?</label>
                    </li>
                </ol>
                <button type="submit" data-bind="click: loginClick, enable: !loggingIn()">Log in</button>
            </fieldset>
        </form>
    </section>
    <p>First time here? <a href="#" data-bind="click: registerClick">Sign up</a></p>
</div>
