<div>
    <section id="localLoginPanel">
        <form id="loginForm" class="form-vertical">
            <fieldset>
                <legend>Log in</legend>
                <ul class="validation-summary-errors" data-bind="foreach: errors">
                    <li data-bind="text: $data"></li>
                </ul>

                <div class="control-group">
                    <label class="control-label" for="input01">Email</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="input01" data-bind="value: userName, hasfocus: true" />
                        <div class="control-group error">
                            <span class="help-inline" data-bind="visible: userName.hasError, text: userName.errorMessage"></span>
                        </div>
                    </div>
                    <label class="control-label" for="input02">Password</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="input02" data-bind="value: password" />
                        <div class="control-group error">
                            <span class="help-inline" data-bind="visible: password.hasError, text: password.errorMessage"></span>
                        </div>
                    </div>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="optionsCheckbox" data-bind="checked: rememberMe">
                            Remember me?
                        </label>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" data-bind="click: loginClick, enable: !loggingIn()">Log in</button>
                </div>
            </fieldset>
        </form>
    </section>
    <p>First time here? <a href="#register">Register</a></p>
</div>
