<div class="todoList" id="registerPanel">
    <form id="registerForm" data-bind="visible: !done()">
        <fieldset>
            <legend>Registration Form</legend>
            <ol>
                <li>
                    <label for="email">Microsoft email account</label>
                    <input type="text" name="email" data-bind="value: email, hasfocus: true" />
                </li>
                <li>
                    <button type="submit" data-bind="click: registerClick, enable: !registering()">Sign up</button>
                </li>
            </ol>
            <span data-bind="visible: registeringVisible">Signing up...</span>
            <span data-bind="visible: unknownErrorVisible">An unknown error occurred.</span>
            <span data-bind="text: error"></span>
        </fieldset>
    </form>
    <p data-bind="visible: done">
        Request submitted. Please check your email for confirmation.
    </p>

    <p>Already signed up? <a href="#" data-bind="click: loginClick">Log in</a></p>
</div>
