    <div id="todoPanel">
    <button data-bind="click: addTodoList">Create lunch request</button>
    <div id="lists" data-bind="foreach: todoLists, visible: todoLists().length > 0">
        <div class="todoList">
            <div class="header">
                <form data-bind="validate: true">
                    <input data-bind="value: Id, blurOnEnter: true" readonly /> <br />
                    Location: <input data-bind="value: MeetingPlace, blurOnEnter: true" /> <br />
                    Subject: <input data-bind="value: Subject, blurOnEnter: true" />

                </form>

            </div>

            <a href="#" class="deletelist" data-bind="click: $parent.deleteTodoList">X</a>

            @*<ul data-bind="foreach: todos">
                    <li>
                        <input type="checkbox" data-bind="checked: isDone" />
                        <input class="todoItemInput" type="text" data-bind="value: title, disable: isDone, blurOnEnter: true" />
                        <a href="#" data-bind="click: $parent.deleteTodo">X</a>
                        <p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>
                    </li>
                </ul>*@

            @*<form data-bind="submit: addTodo">
                    <input class="addTodo" type="text" data-bind="value: newTodoTitle, placeholder: 'Type here to add', blurOnEnter: true, event: { blur: addTodo }" />
                </form>*@

            <p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>

        </div>
    </div>
    <table>
        <tr>
            <td>
                <div id="NewsFeedSection" style="width: 300px; height: 600px;">
                    <h1>News Feed</h1>
                    <div id="NewsFeedMessages" style="width: 300px; height: 600px; overflow: scroll">
                    </div>
                </div>
            </td>
            <td>
                <div id="InviteSection" style="width: 300px; height: 600px;">
                    <h1>Invites</h1>
                    <div id="InviteMessages" style="width: 300px; height: 600px; overflow: scroll">
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <input type="button" value="Generate Invite" onclick="generateInvite()" />
</div>
